/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.9_@babel+core@7.25.2_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/.pnpm/next@14.2.9_@babel+core@7.25.2_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/index.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --red-color: #e8394b;
  --logo-red: #d92c2a;
  --body-bg: #fff;
  --text-white: #fff;
  --link-green: #338180;
  --btn-green: #006160;
  --black-text: #181818;
  --grey-50: #f9f9f9;
  --grey-100: #f5f5f5;
  --grey-200: #e5e5e5;
  --grey-300: #bdbdbd;
  --form-bg: #fffcf0;
  --font-size: 16px;
  --font-size-small: 14px;
  --letter-spacing-negative: -0.15px;
}

a{
  text-decoration: none;
}

img {
  object-fit: cover;
}

button, label {
  cursor: pointer;
}

.greenBtn{
  background: var(--btn-green);
  padding: 12px 24px;
  border: none;
  color: #FFF;
  width: 100%;
  border-radius: .25rem;
  margin-top: 1rem;
}


footer ul li{
  cursor: pointer;
&:hover{
  text-decoration: underline;
}
}

#menuBtn {
  display: none;
}

button:active {
  transform: scale(0.95);
}

body > * {
  padding-inline: 3rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-overflow: ellipsis;
  word-break: break-all;
  letter-spacing: var(--letter-spacing-negative);
  word-break: keep-all;
}

*:focus-visible {
  outline: 1px solid;
}

body {
  background: #fff;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #ffffffa2;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 2rem;
}

.logo {
  color: var(--logo-red);
}

.logoLink {
  text-decoration: none;
}

.announcementBar {
  background: var(--red-color);
  color: var(--body-bg);
  font-size: var(--font-size-small);
  padding: 16px;
  text-align: center;
  line-height: 150%;
  letter-spacing: -0.15px;
}

header {
  display: flex;
  align-items: center;
  height: 48px;
  margin-block: 1.5rem;
}

.searchBar {
  margin-inline: auto;
  height: 48px;
  background: var(--grey-50);
  width: 50%;
  border-radius: 300px;
  position: relative;

}

.searchBar input {
  width: 100%;
  height: 100%;
  padding: 12px;
  padding-left: 64px;
  background: transparent;
  border: none;
  border-radius: inherit;
}

.searchIcon {
  position: absolute;
  left: 4%;
  margin-block: 12px;
}

.iconBtns {
  background: none;
  border: none;
  gap: 0.5rem;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.15px;
  padding: 0.5rem;
  border-radius: 2rem;
  transition: background-color 0.2s ease-in-out;
}

.iconBtns:hover {
  background-color: var(--grey-50);
}

.flex-justify-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  text-align: center;
  height: 37px;
  gap: 2rem;

}

nav .currentpage {
  color: var(--link-green);
  border-bottom: 2px solid var(--link-green);
}

.navLinks {
  color: var(--black-text);
  text-decoration: none;
  display: flex;
  place-items: center;
  padding: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;

}

.navLinks:hover {
  color: var(--link-green);
  border-bottom: 2px solid var(--link-green);
}

.productsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-block: 2.5rem;
}

.rating{
  display: flex;
  align-items: center;
}

.productCard {
  flex: 1 1 260px;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  height: 384px;
  gap: 0.5rem;
  cursor: pointer;
  text-decoration: none;

}

.productCard .card-image {
  align-self: stretch;
  height: 288px;
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;

}

.card-image img {
  width: 100%;
  height: 100%;
}
.card-image:hover img {
  transform: scale(1.2);
  transition: transform 1s ease;
}
.card-image::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff20;
}
.card-image:hover::after {
  background: #00000020;
}

.productCard:hover,
  .productCard {
    color: var(--black-text);
    text-decoration: none;
  }

  .productCard:focus img {
    transform: scale(1.2);
    transition: transform 1s ease;
  }

  .productCard p {
    font-size: 0.95rem;
    width: 100%;
    word-wrap: normal;
    word-break: keep-all;
    display: block;
    line-height: 24px;
    letter-spacing: var(--letter-spacing-negative);
    margin-top: 0.5rem;
  }

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  flex-wrap: wrap;
  gap: 2rem;
  background: var(--form-bg);
}

  .formHeader h1 {
    font-size: 20px;
    font-family: "GeneralSans-Regular", sans-serif;
    line-height: 26px;
    margin-bottom: 12px;
  }
  .formHeader .subtext {
    line-height: 21px;
    font-size: 14px;
    font-family: "GeneralSans-Regular", sans-serif;
  }

.form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;

}
.form input {
  padding: 16px 24px;
  border: 1px solid #adaeaf;
  min-width: 300px;
  border-radius: 300px;
}
.form input:placeholder {
  color: #747474;
  letter-spacing: var(--letter-spacing-negative);
  font-family: "GeneralSans-Regular", sans-serif;
  line-height: 24px;
}

.button {
  background: var(--btn-green);
  color: var(--body-bg);
  padding: 16px 24px;
  border-radius: 600px;
  border: none;
  line-height: 24px;
  font-family: "GeneralSans-Regular", sans-serif;
}

.priceTag {
  font-family: "GeneralSans-Semibold";
  line-height: 24px;
  letter-spacing: var(--letter-spacing-negative);
}

footer {
  background: var(--btn-green);
  color: var(--text-white);
  padding-block: 2rem;

}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

footer ul h1 {
  margin-bottom: 2rem;
}
footer ul li {
  align-self: flex-start;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.footerLinks h1 {
  font-size: 16px;
  line-height: 24px;
  font-family: "GeneralSans-Semibold", sans-serif;
}

.footerLinks ul {
  margin-bottom: 2rem;
  flex: 1 1 150px;
}

.footerLinks li {
  font-size: 14px;
  line-height: 21px;
  font-family: "GeneralSans-Regular", sans-serif;
}

.bottomFooter {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.sectionparagraph {
  font-size: 14px;
  line-height: 16px;
  font-family: "GeneralSans-Regular", sans-serif;
  color: #a0a0a0;
  margin-top: 1rem;
}

.reviewNumbers{
  font-family: "GeneralSans-Regular", sans-serif;
  color: #4A4A4A;
  font-size: 12px;
}

.productName{
  font-size: 20px;
  font-family: 'GeneralSans-Medium';
  line-height: 24px;
}

.productImgContainer{
  width: 100%;

}

.productImgContainer img{
  width: 100%;
}

.productDescription{
  font-family: "GeneralSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: 0.15;
}

.price{
  color: #4A4A4A;
  font-family: "GeneralSans-Regular", sans-serif;
}

.productDetails{
  display: flex;
  flex-direction: column;
  margin-top: 1.16rem;
  gap: 1.2rem;
}

.clorValue{font-weight: bold;}

.colorCircle{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #25397C;
  display: block;
  margin-top: .5rem;
}

.btns{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btns button{
  width: 36px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F4F5F7;
  border: none;
  color: #4A4A4A;
  font-size: 2rem;
}

.addToCart{
  background: #181818;
  display: block;
  width: 100%;
  color: var(--body-bg);
  padding-block: 12px;
  font-size: 14px;
  border: none;
  border-radius: .25rem;
}

.productSpecs label{
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.15;
  color: #222;
}

.productSpecs{
  margin-bottom: 5rem;
}

.productSpecs > div{
  margin-bottom: 1rem;

}

ul{
  padding-inline: 1.5rem;
}

.productSpecs > div .shopSimilar{
  margin-left: 5rem;
  margin-bottom: 2rem;
}

.similarItems{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}

.similarItems > *{
  flex: 1 1 200px;
}

.productSpecs label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: .5px solid #f4f5f7;
  padding-block: 1rem;
}

.radioBtn{
  display: none;
}

.radioBtn ~ p, .radioBtn ~ div{
  display: none;
}

.containerCheckout > section{
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.containerCheckout input, select, .radio{
  padding: 12px 24px;
  border: 1px solid #E7E8EB;
  border-radius: 6px;
}

.containerCheckout .radio{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  background: #FFF;
  font-size: 14px;
  color: #4A4A4A;

}

.containerCheckout .radio input{
  accent-color: #4a4a4a;
}

.containerCheckout{
  display: flex;
  flex-direction: column;
  width: min(600px, 100%);
  gap: 1rem;
  margin-bottom: 2rem;
  margin-inline: auto;
  position: relative;

  
}

.containerCheckout button{
  padding: 12px 24px;
  font-weight: bold;
  font-size: 1rem;
  color: #FFF;
  background: #222;
  border: none;
  border-radius: 6px;
}

.containerCheckout input[type="radio"], .containerCheckout input[type="checkbox"]{
  padding: 0;
}

.promoSection{
  background: #F6F7F8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

}

.promoSection p{
  display: flex;
  justify-content: space-between;
}

.promoSection .boldPara{
  font-weight: bold;
  font-size: 1.2rem;
}

.promoProduct{
  display: flex;
  justify-content: space-between;
}

.priceTagged{
  font-weight: bold;
}

.imgg{
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
  border-radius: .25rem;
  position: relative;
}

.imgg::after{
  content: attr(value);
  background: #333;
  color: #fff;
  text-align: center;
  width: 22px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -3px;
}

.cardImage{
  margin-left: auto;
}

.saveMy{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  border: 1px solid #E7E8EB;
  padding: 12px 24px;
  border-radius: 6px;
}

.useShipping{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.paymentSection{
  background: #F4F5F7;
  padding: 1rem;
}

.closeBtn{
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.applyBtn{
  background-color: #ADADAD!important;
}

.radioBtn:checked ~ p, .radioBtn:checked ~ div{
  display: initial;
}

.imgNavigation{
  display: none;
}

#cartBtn{
  position: relative;
}

#cartBtn::after{
  content: attr(value);
  background: var(--logo-red);
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50%;
  color: #FFF;
  font-size: 10px;
}

#emptyCart{
  background: var(--logo-red);
  width: 100%;
  color: #FFF;
  border: none;
  padding: 12px;
  border-radius: .25rem;
  margin-top: 1rem;
}

@media (min-width: 720px){
  .promoSection{
    position: absolute;
    top: 70px;
    right: 0;
  }

  .containerCheckout{
    width: 100%;

  }
  
  .containerCheckout::after{
    content: '';
    height: 100%;
    width: 1px;
    background-color: #ADADAD35;
    position: absolute;
    top: 0;
    left: 50%;
  }

  .containerCheckout > *{
  width: 48%;
}

  .productDetails{
    display: grid;
    grid-template-areas: 
    "one one two two two two two thr thr thr thr thr thr"
    "one one two two two two two fou fou fou fou fou fou"
    "one one two two two two two nin nin nin nin nin nin"
    "one one two two two two two fiv fiv fiv fiv fiv fiv"
    "one one two two two two two six six six six six six"
    "one one two two two two two sev sev sev sev sev sev"
    "one one two two two two two eig eig eig eig eig eig"
    ;
  }

.imgNavigation{
  grid-area: one;
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: flex-end;

}

.imgNavigation .smallImgBtn{
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 4px;
  overflow: hidden;

}

.imgNavigation .smallImgBtn img{
  width: 100%;
  height: 100%
}

.productImgContainer{
  grid-area: two;
  width: 450px;
  height: 500px;
  margin-right: 2.44rem;

}

.productImgContainer .img{
  height: 100%;
  width: 100%;
  border-radius: .25rem;
}

.productName{
  grid-area: thr;
}

.rating{
  grid-area: fou;
}

.productDescription{
  grid-area: fiv;
}

.color{
  grid-area: six;
}

.productSelection{
  grid-area: sev;
}

.productSpecs{
  grid-area: eig;
}

.price{
  grid-area: nin;
}
}



@media screen and (max-width: 900px) {
  nav .navLinks {
    font-size: 14px;
  }
  nav {
    gap: 0.5rem;
  }
  .productCard {
    flex: 1 1 200px;
  }
}

@media screen and (max-width: 600px) {
  body > * {
    padding-inline: 1rem;
    font-size: 0.875rem;
  }

  .productCard {
    flex: 1 1 150px;
  }

  .nav {
    display: none;
  }

  .mobile-nav{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    padding-top: 2rem;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .tote {
    margin-left: auto;
  }

  .iconBtns span {
    display: none;
  }

  .searchBar {
    /* display: none; */
    position: absolute;
    bottom: -45px;
    width: 90%;
    left: 0;
    right: 0;
  }

  header {
    position: relative;
    margin-bottom: 72px;
    padding-bottom: 2rem;
  }

  .form {
    margin-inline: auto;
  }

  .form button,
  .form input {
    width: 100%;
  }

  .bottomFooter {
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  #menuBtn {
    display: initial;
  }
  footer {
    font-size: 0.875rem;
  }
  .form inputL:placeholder {
      font-size: 0.875rem;
    }
  .searchBar input:placeholder {
    font-size: 0.875rem;
  }
}


.pageContainer{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: min(900px, 90%);
  margin-inline: auto;
}

.pageContainer > *{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #74747420;
  padding: 1rem;
}

.namee{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.quantity{
  margin-inline: auto;
  justify-self: center;
}

.itemData{
  justify-content: flex-start;
  gap: 1rem;
}

.spacer{width: 33%}
.spacer1{width: 40%}

.calculation{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: min(90%, 480px);
  margin-left: auto;
  border: none;
  gap: 1rem;
  font-size: 12px;
  line-height: 1rem;
  font-weight: 400;

}

.calculation > *{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}

.calculation p span{
  font-size: 14px;
  line-height: 21px;
}

.checkoutBtn{
  padding: 12px 24px;
  width: 100%;
  background: #000;
  color: #fffcf0;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  border-radius: .25rem;
}

.popup{
  animation-name: popup;
  animation: popup .3s 1;
}

@keyframes popup {
  from{
    transform: scale(0.1);
  }
  to{
    transform: scale(1.0);
  }
}
